# Global ignores
*.make

# Mac ignores
*.xcodeproj
*.plist
.DS_Store
*.xcconfig
*.app
Makefile

# PC Ignores
*.sln
*.vcxproj
*.obj
*.vs
!bin/data
icon.rc
*.vcxproj.filters
*.vcxproj.user
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
![Bb]in/
[Bb]in/*
![Bb]in/data
!Starting-Templates/AudioDB/[Bb]in/
Starting-Templates/AudioDB/[Bb]in/*
!Starting-Templates/AudioDB/[Bb]in/data
!Starting-Templates/CocktailDB/[Bb]in/
Starting-Templates/CocktailDB/[Bb]in/*
!Starting-Templates/CocktailDB/[Bb]in/data
!Starting-Templates/MealDB/[Bb]in/
Starting-Templates/MealDB/[Bb]in/*
!Starting-Templates/MealDB/[Bb]in/data
!Starting-Templates/MovieDB/[Bb]in/
Starting-Templates/MovieDB/[Bb]in/*
!Starting-Templates/MovieDB/[Bb]in/data
!Starting-Templates/SportsDB/[Bb]in/
Starting-Templates/SportsDB/[Bb]in/*
!Starting-Templates/SportsDB/[Bb]in/data
!Starting-Templates/WeatherDB/[Bb]in/
Starting-Templates/WeatherDB/[Bb]in/*
!Starting-Templates/WeatherDB/[Bb]in/data
[Oo]bj/
[Ll]og/
.suo
.user
*.7z
